<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--
<suite name="All Test Suite">
   <test verbose="2" preserve-order="true" name="F:/Work/autoweb">
       <classes/>
   </test>
</suite>
-->
<suite name="Suite" parallel="false">
<!--listeners>
   <listener class-name="com.yjqd.testcase.NewTest"/>
   <listener class-name="com.example.MyMethodInterceptor" />
</listeners-->
<test name="Test">
   <classes>
       <class name="testcase.testCase"/>
       <class name="testcase.testCaseTest"/>
       <class name="testcase.testCaseTest1"/>
       <class name="testcase.testCaseTest2"/>
       <!--    <class name="com.yjqd.testcase.NewTest">
               <methods>
                   <include name="f"/>
               </methods>
           </class>  -->
    </classes>
</test> <!-- Test -->
</suite> <!-- Suite -->